body {
    background-color: #E6E6FA
}

}
main {
    background-color: #FFFACD;
}
h1 {
    color: #FF0000
}
nav {
    background-color: #AFEEEE
}
div {
    background-color: #ADD8E6
}
li {
    color: #000000
}
h3 {
    color: #0000FF
}
h2 {
    color: #0000FF
}