body {
    overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 13px;
	line-height: 20px;
	color: #666;
	background-color:#fff;
}

}
main {
    background-color: #EE82EE;
}
h1 {
    color: #0000FF
}
nav {
    background-color: #EEE8AA
}
div {
    background-color: #E6E6FA
}
li {
    color: #000000
}
h3 {
    color: #FF0000
}